@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
   The data you provided did not match.
    </p>

<p>
    For further assistance please try again or drop a mail to fooderyonline@gmail.com.
</p>


