@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Unsuccessful</h1><br />
        <img src="~/images/Caution.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Sorry for this inconvenience. We are not delivering our products at the given location currently. Please contact at this 9641968666 for farther assistance.<br />

        <div class="col-12 text-center" style="color:red">
        </div>
        <br />
    </div>
</div>
